.Q-Header {
    color: #FF731D !important
}

.waterTestingContainer{
    justify-content: center;
}

.Q-Btn {
    min-Width: 30px; 
    min-Height: 30px
}

.Need-Help-Btn {
    min-Width: 10px; 
    min-Height: 10px
}

.newTankCard {
    border-radius: 10px;
}